.dragicon {
-fx-background-radius: 5;
}
.icon-red {
    -fx-background-color: red;
}
.icon-grey {
    -fx-background-color: #607D8B;
}
.icon-green {
    -fx-background-color: #008975;
}
.node-bg-teal{
    -fx-background-color: #B2DFDB;
}
.node-overlay-teal {
    -fx-background-radius: 5 5 0 0;
    -fx-background-color:
    linear-gradient(to bottom, #009688 15%, #4DB6AC 100%);
}
.node-bg-grey{
    -fx-background-color: #CFD8DC;
}
.node-overlay-grey {
    -fx-background-radius: 5 5 0 0;
    -fx-background-color:
    linear-gradient(to bottom, #607D8B 15%, #90A4AE 100%);
}

.node-bg-pesto{
    -fx-background-color: #B2DFDB;
}
.node-overlay-pesto {
    -fx-background-radius: 5 5 0 0;
    -fx-background-color:
    linear-gradient(to bottom, #008975 15%, #00AA8D 100%);
}
.node-selected{
    -fx-background-radius: 5 5 5 5;
    -fx-background-color:
    rgba(255, 255, 255, 0.35);
}
.right-link-handle:hover {
    -fx-background-radius: 0 0 5 0;
    -fx-background-color:
    rgba(255, 255, 255, 0.35);
}

.left-link-handle:hover {
    -fx-background-radius: 0 0 0 5;
    -fx-background-color:
    rgba(255, 255, 255, 0.35);
}
.title-label{
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.activity-type-label{
    -fx-text-fill: #B2DFDB;
    -fx-effect: innershadow( three-pass-box , rgba(38, 166, 154, 1) , 6, 0.0 , 0 , 2 );
    -fx-font-weight: bold;
    -fx-font-size:25;
}